body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  position: absolute;
  top: 1.5%;
  left: 78%;
  display: inline;
}

.d-flex {
  width: 20%;
}

.movie_card {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.row-cols-2 {
  padding-left: 1rem;
  padding-bottom: 1rem;
  width: 27%;
}

.movie-card {
  margin-bottom: 1rem;
  width: 23%;
  margin-right: 1rem;
}

.trailer-heading {
  text-align: center;
  font-family: "Courgette", cursive;
  padding-top: 1%;
}

.trailer-sub-heading {
  text-align: center;
  text-decoration: underline;
  font-family: "Anek Tamil", sans-serif;
}

.row p {
  font-size: 15px;
  font-family: "Anek Tamil", sans-serif;
}

.btn-home {
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}
.movie-card p {
  font-size: 15px;
  font-family: "Anek Tamil", sans-serif;
}

.row h5 {
  font-size: 15px;
}

.movie-card h5 {
  font-size: 15px;
}

.movie-card .card-img-top {
  height: 58%;
  width: 100%;
}
.movie-card .card-body {
  height: 93%;
  width: 100%;
  padding: 0;
}

.movie-card .card-text {
  height: 42%;
  width: 100%;
  padding: 0 10px 0 10px;
}
.movie-card .card-title {
  width: 100%;
  height: 10%;
  text-decoration: underline;
  padding: 8px 10px 0 10px;
}

.movie-card .card-footer {
  height: 7%;
  line-height: 1;
}

.list-group-flush {
  line-height: 1;
  height: 7%;
  padding-top: 0;
  padding-bottom: 0;
}

.filter-top {
  display: flex;
  justify-content: space-between;
}

.filter-top .card-header {
  width: 100%;
}

.movie-card .card-header {
  width: 100%;
}

.btn-success {
  width: 100%;
  margin-top: 12px;
}

.footer {
  position: sticky;
  flex-shrink: 0;
  height: 5%;
}

.navbar {
  height: 5%;
  padding: 0 2rem 0 2rem;
  display: inline-block;
}

.trailer-card {
  width: 50%;
  margin-left: 25%;
}

.hr {
  padding-bottom: 1.2%;
  border-style: dotted none none none;
  width: 5%;
  margin-left: 48%;
  border-width: 5px;
}

.trailer-card .card-img-top {
  width: 100%;
}

.navbar h5 {
  padding-top: 5%;
  line-height: 0;
}

.new-movie-form {
  padding-top: 15px;
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .movie-card {
    width: 30%;
  }

  .navbar {
    height: 5%;
    padding: 0 1rem 0 2rem;
  }

  .container {
    position: absolute;
    top: 1.5%;
    left: 76%;
    display: inline;
  }

  .d-flex {
    width: 20%;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .movie-card {
    width: 46%;
  }

  .d-flex {
    width: 20%;
    position: absolute;
    left: -15%;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .movie-card {
    width: 60%;
  }
  .footer {
    position: fixed;
    flex-shrink: 0;
    height: 5%;
    bottom: 0;
    width: 100%;
    line-height: 0;
  }

  .d-flex {
    width: 20%;
    position: absolute;
    left: -15%;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .movie-card {
    width: 50%;
  }
  .footer {
    position: fixed;
    flex-shrink: 0;
    height: 5%;
    bottom: 0;
    width: 100%;
    line-height: 0;
  }

  .d-flex {
    width: 20%;
    position: absolute;
    left: -15%;
  }
}
